html {
    overflow-x: hidden;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}


.container {
    max-width: 1200px;
}

/***************NAV***************/
#nav {
    #top {
        .hamburger {
            display: none;

            @media (max-width: 800px) {
                display: block;
            }
        }

        .search {
            form {
                input {
                    width: 463px;

                    @media (max-width: 1500px) {
                        width: 203px;
                    }
                }

            }

            @media (max-width: 800px) {
                display: none;
            }
        }

        .socials {
            @media (max-width: 800px) {
                display: none;
            }
        }

    }

    #bottom {
        width: 100%;

        .container {
            height: 100%;

            .left {
                gap: 0.62rem;
                overflow-x: auto;
                overflow-y: hidden;

                &::-webkit-scrollbar {
                    display: none;
                }

                @media (max-width:700px) {
                    gap: 0
                }

                .nav-link {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    letter-spacing: 0;
                    white-space: nowrap;
                    text-decoration: none;

                    font-size: 18px;
                    line-height: 24px;
                    height: 37px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #fff;
                    border-radius: 50px;
                    padding: 6px 18px 6px 14px;
                    display: flex;
                    justify-content: center;
                    vertical-align: middle;
                    align-items: center;
                    margin-right: 4px;
                    background-color: #008aee;
                    margin-left: 0;

                    @media (max-width: 600px) {
                        border-radius: 50px;
                        margin-left: 8px;
                        margin-right: 4px;
                        height: 25px;
                        font-weight: 500;
                        font-size: 11px;
                        line-height: 27px;
                        text-align: center;
                        text-transform: uppercase;
                        padding: 6px 14px 6px 7px;

                    }

                    .icon {
                        svg {
                            @media (max-width: 600px) {
                                width: 18px;
                            }
                        }

                    }

                    .text {
                        margin-left: 0.63rem;


                    }

                    &.autoparts {
                        background-color: #008aee;
                    }

                    &.sale {
                        background-color: #F2992F;
                    }

                    &.targs {
                        background-color: #2ccaca;
                    }

                    &.borsa {
                        background-color: #33BB5A;
                    }

                    &.games {
                        background-color: #BD5FE9;
                    }

                    &.news {
                        background-color: #EE4700;
                    }
                }
            }

            .right {
                gap: 1.06rem;

                @media (max-width: 600px) {
                    display: none;
                }

                @media (max-width: 1150px) {
                    position: absolute;
                    background-color: #1C2D3A;
                    z-index: 1;
                    right: 0;
                }
            }
        }
    }
}

#mobile {
    display: none;

    .search {
        form {
            width: 100%;

            input {
                width: 100%;
            }
        }

    }

    .container {
        display: none;


        @media (max-width: 600px) {
            flex-direction: column;
            gap: 1.12rem;
        }
    }

    @media (max-width: 800px) {
        display: block;
    }

    .socialize {

        .socials,
        .right {
            max-width: max-content;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media (max-width: 600px) {
            flex-direction: column;

        }

        .right {

            display: none;

            @media (max-width: 600px) {
                display: flex;
                gap: 1.12rem;
            }
        }
    }
}

#mobile {
    .container.active {
        display: flex;
    }
}

/***************MAIN**************/
#main {
    #filters-menu {

        width: 100%;
        margin-bottom: 10px;
        box-shadow: rgba(0, 0, 0, .15) 2px 3px 20px;
        padding: 20px 20px 30px;
        background: #fff;
        border-radius: 20px;
        margin-bottom: 26px;

        #filters {
            width: 100%;


            select,
            button {
                width: 32.6%;
                border-radius: 1.875rem;
                border: 1px solid #008bee;
                padding: 0.6rem 1.62rem;
            }

            select {
                position: relative;
                appearance: none;
            }


        }
    }

    #wrapper {
        #left {
            width: 20%;

            .buttons {
                margin-bottom: 24px;
            }

            .menu {
                li {
                    padding-top: 15px;

                    &:first-child {
                        border-top: 1px solid #C1C1C1;
                    }

                    &:nth-child(4) {
                        border-bottom: 1px solid #C1C1C1;
                        padding-bottom: 15px;
                    }

                    &:last-child {
                        margin-bottom: 52px;
                    }

                    a {
                        display: flex;
                        align-items: center;
                        gap: 11px;
                    }
                }
            }
        }

        #right {
            width: 80%;
        }
    }

}

#main {
    #wrapper {
        #right {

            select,
            button {
                width: 186px;
                border-radius: 1.875rem;
                border: 1px solid #008bee;
                padding: 0.6rem 1.62rem;

            }

            select {
                position: relative;
                appearance: none;
            }

            .bottom {
                .cart {
                    width: calc(100%/2);
                }
            }
        }
    }
}

//CUSTOM CSS

.btn-primary {
    height: 45px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #008AEE;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}