html {
    overflow-x: hidden;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 1200px;
}

#nav {
    #top {
        .hamburger {
            display: none;

            @media (max-width: 800px) {
                display: block;
            }
        }

        .search {
            form {
                input {
                    width: 463px;

                    @media (max-width: 1500px) {
                        width: 203px;
                    }
                }

            }

            @media (max-width: 800px) {
                display: none;
            }
        }

        .socials {
            @media (max-width: 800px) {
                display: none;
            }
        }

    }

    #bottom {
        width: 100%;

        .container {
            height: 100%;

            .left {
                gap: 0.62rem;

                @media (max-width:700px) {
                    gap: 0
                }

                .nav-link {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    letter-spacing: 0;
                    white-space: nowrap;
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;
                    height: 37px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #fff;
                    border-radius: 50px;
                    padding: 6px 18px 6px 14px;
                    display: flex;
                    justify-content: center;
                    vertical-align: middle;
                    align-items: center;
                    margin-right: 4px;
                    background-color: #008aee;
                    margin-left: 0;

                    @media (max-width: 600px) {
                        border-radius: 50px;
                        margin-left: 8px;
                        margin-right: 4px;
                        height: 25px;
                        font-weight: 500;
                        font-size: 11px;
                        line-height: 27px;
                        text-align: center;
                        text-transform: uppercase;
                        padding: 6px 14px 6px 7px;

                    }

                    .icon {
                        svg {
                            @media (max-width: 600px) {
                                width: 18px;
                            }
                        }

                    }

                    .text {
                        margin-left: 0.63rem;


                    }

                    &.autoparts {
                        background-color: #008aee;
                    }

                    &.sale {
                        background-color: #F2992F;
                    }

                    &.targs {
                        background-color: #2ccaca;
                    }

                    &.borsa {
                        background-color: #33BB5A;
                    }

                    &.games {
                        background-color: #BD5FE9;
                    }

                    &.news {
                        background-color: #EE4700;
                    }
                }
            }

            .right {
                gap: 1.06rem;

                @media (max-width: 600px) {
                    display: none;
                }

                @media (max-width: 1150px) {
                    position: absolute;
                    background-color: #1C2D3A;
                    z-index: 1;
                    right: 0;
                }
            }
        }
    }
}

#mobile {
    display: none;

    .search {
        form {
            width: 100%;

            input {
                width: 100%;
            }
        }

    }

    .container {
        display: none;


        @media (max-width: 600px) {
            flex-direction: column;
            gap: 1.12rem;
        }
    }

    @media (max-width: 800px) {
        display: block;
    }

    .socialize {

        .socials,
        .right {
            max-width: max-content;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media (max-width: 600px) {
            flex-direction: column;

        }

        .right {

            display: none;

            @media (max-width: 600px) {
                display: flex;
                gap: 1.12rem;
            }
        }
    }
}

#mobile {
    .container.active {
        display: flex;
    }
}