html {
  overflow-x: hidden;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
}

/***************NAV***************/
#nav #top .hamburger {
  display: none;
}
@media (max-width: 800px) {
  #nav #top .hamburger {
    display: block;
  }
}
#nav #top .search form input {
  width: 463px;
}
@media (max-width: 1500px) {
  #nav #top .search form input {
    width: 203px;
  }
}
@media (max-width: 800px) {
  #nav #top .search {
    display: none;
  }
}
@media (max-width: 800px) {
  #nav #top .socials {
    display: none;
  }
}
#nav #bottom {
  width: 100%;
}
#nav #bottom .container {
  height: 100%;
}
#nav #bottom .container .left {
  gap: 0.62rem;
  overflow-x: auto;
  overflow-y: hidden;
}
#nav #bottom .container .left::-webkit-scrollbar {
  display: none;
}
@media (max-width: 700px) {
  #nav #bottom .container .left {
    gap: 0;
  }
}
#nav #bottom .container .left .nav-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0;
  white-space: nowrap;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 50px;
  padding: 6px 18px 6px 14px;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  margin-right: 4px;
  background-color: #008aee;
  margin-left: 0;
}
@media (max-width: 600px) {
  #nav #bottom .container .left .nav-link {
    border-radius: 50px;
    margin-left: 8px;
    margin-right: 4px;
    height: 25px;
    font-weight: 500;
    font-size: 11px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    padding: 6px 14px 6px 7px;
  }
}
@media (max-width: 600px) {
  #nav #bottom .container .left .nav-link .icon svg {
    width: 18px;
  }
}
#nav #bottom .container .left .nav-link .text {
  margin-left: 0.63rem;
}
#nav #bottom .container .left .nav-link.autoparts {
  background-color: #008aee;
}
#nav #bottom .container .left .nav-link.sale {
  background-color: #F2992F;
}
#nav #bottom .container .left .nav-link.targs {
  background-color: #2ccaca;
}
#nav #bottom .container .left .nav-link.borsa {
  background-color: #33BB5A;
}
#nav #bottom .container .left .nav-link.games {
  background-color: #BD5FE9;
}
#nav #bottom .container .left .nav-link.news {
  background-color: #EE4700;
}
#nav #bottom .container .right {
  gap: 1.06rem;
}
@media (max-width: 600px) {
  #nav #bottom .container .right {
    display: none;
  }
}
@media (max-width: 1150px) {
  #nav #bottom .container .right {
    position: absolute;
    background-color: #1C2D3A;
    z-index: 1;
    right: 0;
  }
}

#mobile {
  display: none;
}
#mobile .search form {
  width: 100%;
}
#mobile .search form input {
  width: 100%;
}
#mobile .container {
  display: none;
}
@media (max-width: 600px) {
  #mobile .container {
    flex-direction: column;
    gap: 1.12rem;
  }
}
@media (max-width: 800px) {
  #mobile {
    display: block;
  }
}
#mobile .socialize .socials,
#mobile .socialize .right {
  max-width: -moz-max-content;
  max-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  #mobile .socialize {
    flex-direction: column;
  }
}
#mobile .socialize .right {
  display: none;
}
@media (max-width: 600px) {
  #mobile .socialize .right {
    display: flex;
    gap: 1.12rem;
  }
}

#mobile .container.active {
  display: flex;
}

/***************MAIN**************/
#main {
  margin-top: 62px;
}
@media (max-width: 600px) {
  #main {
    margin-top: 16px;
  }
}
#main #header .title .icon {
  display: none;
}
@media (max-width: 900px) {
  #main #header {
    align-items: start;
    gap: 20px;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  #main #header {
    align-items: start;
    padding: 0 24px;
    flex-direction: column-reverse;
  }
  #main #header .title {
    width: 100%;
  }
  #main #header .title h1 {
    display: none;
  }
  #main #header .title .texts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #C1C1C1;
    padding-bottom: 13px;
  }
  #main #header .title .icon {
    display: block;
  }
  #main #header #btn-query {
    width: 100%;
  }
}
#main #filters-menu {
  width: 100%;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 2px 3px 20px;
  padding: 20px 20px 30px;
  background: #fff;
  border-radius: 20px;
  margin-bottom: 26px;
}
@media (max-width: 600px) {
  #main #filters-menu {
    display: none;
  }
}
#main #filters-menu #filters {
  width: 100%;
}
@media (max-width: 600px) {
  #main #filters-menu #filters .options {
    width: 100%;
  }
}
#main #filters-menu.active {
  display: block;
}
#main #wrapper #left {
  width: 20%;
}
#main #wrapper #left .buttons {
  margin-bottom: 24px;
}
#main #wrapper #left .menu li {
  padding-top: 15px;
}
#main #wrapper #left .menu li:first-child {
  border-top: 1px solid #C1C1C1;
}
#main #wrapper #left .menu li:nth-child(4) {
  border-bottom: 1px solid #C1C1C1;
  padding-bottom: 15px;
}
#main #wrapper #left .menu li:last-child {
  margin-bottom: 52px;
}
#main #wrapper #left .menu li a {
  display: flex;
  align-items: center;
  gap: 11px;
}
#main #wrapper #right {
  width: 80%;
}

#main #wrapper #left .btn-primary {
  width: 100%;
}
@media (max-width: 636px) {
  #main #wrapper #left .btn-primary {
    width: 25%;
  }
}
@media (max-width: 636px) {
  #main #wrapper #left .btn-primary:nth-child(2) {
    width: 40%;
  }
}
#main #wrapper #left #btn-menu {
  width: 45px;
  display: none;
}
@media (max-width: 636px) {
  #main #wrapper #left #btn-menu {
    display: flex;
  }
}
@media (max-width: 636px) {
  #main #wrapper #left .menu {
    display: none;
  }
}
#main #wrapper #left .menu.active {
  display: flex;
}
#main #wrapper #left .line {
  display: none;
}
@media (max-width: 636px) {
  #main #wrapper #left .line {
    display: block;
  }
}
@media (max-width: 960px) {
  #main #wrapper {
    flex-direction: column;
  }
  #main #wrapper #left {
    width: 100%;
  }
  #main #wrapper #left .buttons {
    width: 100%;
  }
}
@media (max-width: 960px) and (max-width: 600px) {
  #main #wrapper #left .buttons {
    width: auto;
  }
}
@media (max-width: 960px) {
  #main #wrapper .ad {
    display: none;
  }
  #main #wrapper #right {
    width: 100%;
  }
}
@media (max-width: 750px) {
  #main #wrapper #right .top {
    flex-direction: column-reverse;
    margin-top: 12px;
  }
}
@media (max-width: 750px) {
  #main #wrapper #right .top .filters {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 750px) {
  #main #wrapper #right .top .filters .options {
    display: none;
  }
}
#main #wrapper #right .top .option-mobile {
  align-items: center;
  justify-content: center;
  gap: 6px;
  display: none;
  margin-top: 16px;
}
#main #wrapper #right .top .option-mobile .option {
  padding: 8px 17px;
  border-radius: 50px;
  background: #F3F3F3;
  cursor: pointer;
}
#main #wrapper #right .top .option-mobile .option.active {
  border: 1px solid #008AEE;
  background: var(--blue-opacity, rgba(23, 141, 235, 0.15));
}
@media (max-width: 750px) {
  #main #wrapper #right .top .option-mobile {
    display: flex;
  }
}
#main #wrapper #right .bottom .cart {
  width: 49.5%;
}
@media (max-width: 700px) {
  #main #wrapper #right .bottom .cart {
    width: 100%;
  }
}

.btn-primary {
  height: 45px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #008AEE;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.options {
  width: 32%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  border: 1px solid #008aee;
  border-radius: 30px;
  padding: 0px 19px;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 100%;
}
select .icon {
  background: transparent;
}

.deactive {
  border-color: #E8E8E8;
}
.deactive select {
  cursor: not-allowed;
}
.deactive .icon svg path {
  stroke: #E8E8E8;
}/*# sourceMappingURL=custom.css.map */